Thumbs.db
.DS_Store
.gradle
build/
classes/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
/node_modules/
*.class
.mtj.tmp/
*.jar
*.war
*.ear
hs_err_pid*
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
logs
*.log
npm-debug.log*
pids
*.pid
*.seed
lib-cov
coverage
.nyc_output
.grunt
.lock-wscript
build/Release
node_modules
jspm_packages
.npm
.node_repl_history
/web-app/WEB-INF/classes
/prodDb.*
*Db.properties
*Db.script
/stacktrace.log
/test/reports
/logs
/*.war
/*.zip
/plugin.xml
/plugins
/web-app/plugins
/target
/out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
